# =========================
# macOS
# =========================
.DS_Store

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

venv/
.venv/
env/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Node
# =========================
node_modules/
dist/
build/

# =========================
# React/Vite
# =========================
frontend/dist/

# =========================
# ML Artifacts
# =========================
*.ipynb_checkpoints

# backend/app/ml/artifacts/*.joblib
# backend/app/ml/artifacts/*.pkl


# !backend/app/ml/artifacts/model_metadata.json

# =========================
# OS
# =========================
Thumbs.db